.order-call {
    padding: 30px;

    &__form-group {
        margin-bottom: 15px;

        label {
            font-size: 13px;
            color: var(--label-inner);
            margin-bottom: 3px;
            display: block;
        }
    }

    &__input {
        border-radius: 100px;
    }

    &__btn {
        background-color: var(--main-color);
        color: white;
        border-radius: 100px;

        &:hover {
            background-color: var(--main-color-2);
            color: white;
        }
    }

    &__title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;
    }

    form .wpcf7-response-output {
        padding: 0;
        margin: 0;
        margin-top: 10px;
        padding: 10px;
    }

    form.failed .wpcf7-response-output,
    form.invalid .wpcf7-response-output {
        border-radius: 5px;
    }

    form.invalid .wpcf7-response-output {
        border-color: var(--main-color);
        background-color: #fff8ed;
    }

    form.failed .wpcf7-response-output {
        border-color: var(--main-color-4);
        background-color: #fff6f6;
    }
}

.order-modal {
    border-radius: 15px;
    background-image: url(../img/phone.jpg) !important;
    background-size: 100% 100% !important;
    position: relative;
    overflow: hidden;
    min-width: 500px;

    @media (max-width: 576px) {
        min-width: 300px !important;
    }

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: #fff;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        opacity: 0.55;
        z-index: 0;
    }

    &__title {
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 15px;
        position: relative;
        z-index: 100;
    }

    &__btn {
        margin-top: 20px;
        background-color: var(--main-color);
        width: 100%;
        color: white;
        transition: 0.2s all;
        font-size: 18px;
        position: relative;
        z-index: 100;

        &:hover {
            background-color: var(--main-color-2);
            color: white;
        }
    }

    &__input {
        display: flex;
        flex-direction: column;
        gap: 5px;
        position: relative;
        z-index: 100;

        input {
            position: relative;
            padding: 10px;
            border: 1px solid var(--main-color);
            background-size: 20px 20px;
            background-position: center left 10px;
            padding-left: 40px;
            font-size: 18px;
        }
    }

    &__input-phone {
        input {
            background-image: url('data:image/svg+xml,<svg fill="%23f9a422" id="svg-tel" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/></svg>');
            background-repeat: no-repeat no-repeat;
            border-radius: 5px;
        }
    }

    &__label {
        padding-left: 5px;
        font-size: 18px;
        position: relative;
        z-index: 100;
    }
}
