:root {
    --black-color: #333333;
    --main-color: #f9a422;
    --main-color-2: #ffd500;
    --main-color-3: #124b9b;
    --main-color-4: #ee2f2e;
    --label-inner: #4f4f4f;

    --speed-animation: 0.2s;
}
