.logo {
    display: flex;
    align-items: center;
    gap: 30px;

    img {
        width: 188px;
        height: 88px;
    }

    &__name {
        width: 229px;
        font-size: 17px;
        line-height: 23px;
    }
}